@model TomasosPizzeriaUppgift.ViewModels.MenuPage
@{


}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
<link href="~/css/MenuPage.css" rel="stylesheet" type="text/css" asp-append-version="true" />

<div class="d-flex justify-content-center">
    <div id="customerbasket">
        <h3 class="addhere">Beställning:</h3>
        <label>@Model.matratt.MatrattNamn</label>

    </div>
    <div id="menudiv">
        <h2>Tomasos Pizzeria Meny</h2>

        <section class="menu-items">
            @foreach (var matrratttyp in Model.mattratttyper)
            {

                <hr />
                <h4>@matrratttyp.Beskrivning</h4>
                <br />
                @foreach (var matratt in Model.Matratter)
                {

                    if (matratt.MatrattTypNavigation.Beskrivning == @matrratttyp.Beskrivning)
                    {
                        <h5>@matratt.MatrattNamn</h5>
                        <br />
                        <label>Ingredienser: </label>
                        foreach (var ingrediens in Model.Ingredins.MatrattProdukt)
                        {
                            if (ingrediens.MatrattId == matratt.MatrattId)
                            {
                                <label>&nbsp @ingrediens.Produkt.ProduktNamn,</label>
                            }
                        }
                        <br />
                        <label>Pris:&nbspKr @matratt.Pris</label>
                        <br />

                        <a type="button" class="btn btn-success" asp-action="CustomerBasket" asp-controller="Home" asp-route-id="@matratt.MatrattId" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update=".addhere">Lägg till</a>
                        <br />
                        <br />
                        <br />
                    }

                }
            }




        </section>

    </div>
</div>